{% include '@Bug/base.html.twig' %}
{% block body %}
    <div class="raw">
        <div class="col-md-8">.
            {% set who='collaborator'|trans %}
            {%  include '@Bug/Issue/issues_short.html.twig' %}
        </div>
        <div class="col-md-4">
            <h3>{{ 'activity'|trans|capitalize }}</h3>
            {% include '@Bug/Issue/activity.html.twig' %}
        </div>
    </div>
{%  endblock %}