{{ 'changeStatusIssueMessage'|trans({
    '%issue%':'<a href="'~ path('bug_issue_view',{'issue':activity.issue.id})~'">'~activity.issue~'</a>',
    '%issueStatusOld%':activity.oldStatus,
    '%issueStatusNew%':activity.newStatus,
    '%user%':activity.user,
    '%b%':'<b>','%endb%':'</b>',
})|raw }}

