{{ 'changeStatusIssueMessage'|trans({
    '%issue%':'<a href="'~ activity.vars.issue_link~'">'~activity.vars.issue~'</a>',
    '%issueStatus%':activity.vars.status,
    '%user%':activity.vars.user,
    '%b%':'<b>','%endb%':'</b>',
})|raw }}
