{{ 'changeStatusIssueMessage'|trans({
    '%issue%':'<a href="'~ path('bug_issue_view',{'issue':activity.issue.id})~'">'~activity.issue~'</a>',
    '%issueStatusOld%':activity.oldStatus,
    '%issueStatusNew%':activity.newStatus,
    '%user%': '<a href="'~ path('user_page',  {"user":activity.user.id}) ~'"> '~ activity.user ~ '</a>',
    '%b%':'<b>','%endb%':'</b>',
})|raw }}

