{{ 'createIssueMessage'|trans({
    '%issue%':'<a href="'~ activity.vars.issue_link~'">'~activity.vars.issue~'</a>',
    '%user%':activity.vars.user,
    '%project%':activity.vars.project,
    '%b%':'<b>','%endb%':'</b>'
})|raw }}