{% extends '@Bug/base.html.twig' %}


{% block body %}
    <h1>User Editor</h1>
<div class="col-md-5">
    {{ form_start(form,{'attr':{'class':'form col-md-12 center-block'}}) }}
    {% for child in form.children %}
        {{ form_row(child,{'attr':{'class':'form-control input-lg'}}) }}
    {% endfor %}
    <br><br>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">Register</button>
        <span class="pull-right"><a onclick="history.back();">Back</a></span><span><a href="#">Need help?</a></span>
    </div>
</div>
{% endblock %}