<head>
    <link rel="stylesheet" href="{{ asset("bundles/bug/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/bug/css/auth.css") }}">
</head>


<body>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        {% block body %}
        {% endblock %}
    </div>
    <div class="col-md-1"></div>

</body>